*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(3, 21, 59, 0.9);
  color: white;
  font-family: monospace;
  transition: all 0.3s linear;
}

.dark-mode {
  background-color: white;
  color: black;
}

.container {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
  max-width: 700px;
  margin: 20px auto;
}

/* Title Folder */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  display: flex;
  place-items: center;
}
.name svg {
  margin-right: 5px;
}
.name h2 {
  font-size: 20px;
}

.toggleMode {
  display: flex;
  place-items: center;
  cursor: pointer;
}

.toggleMode p {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.15rem;
}
/* ---------- */

/* Search Bar Folder */
input[type="text"],
input[type="text"]:focus {
  outline: none;
  background-color: rgb(69, 73, 100);
  display: block;
  color: white;
  width: 100%;
  padding: 0.5rem 0.75rem;
  padding-left: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid rgb(69, 73, 100);
  border-radius: 0.375rem;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.form svg {
  position: relative;
  top: 38px;
  margin-left: 10px;
}

.btn {
  position: relative;
  bottom: 71px;
  right: -3px;
  float: right;
  background: #134ebd;
  padding: 0.48rem 1rem;
  color: white;
  border-radius: 7px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
/* ------------ */

/*  */
/*  */
/*  */
/*  */
/*  */
