*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(3, 21, 59, 0.9);
  --color: white;
  --search: rgb(69, 73, 100);
  --layout-text: rgb(238, 235, 235);
  --errorCol: white;
  --layout-h2: rgb(255, 255, 255);
}
.light-mode {
  --bg-color: rgba(221, 221, 221, 0.555);
  --color: black;
  --search: white;
  --placeholder: rgba(73, 72, 72, 0.76);
  --layout-text: rgba(73, 72, 120, 0.76);
  --boxShadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  --layout-h2: rgba(3, 21, 59, 0.9);
  --errorCol: rgb(230, 66, 66);
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: monospace;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.container {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
  max-width: 700px;
  margin: 35px auto;
}

/* Title Folder */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
.name svg {
  margin-right: 5px;
}
.name h2 {
  font-size: 20px;
}

.toggleMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  cursor: pointer;
}

.toggleMode p {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.15rem;
}
/* ---------- */

/* Search Bar Folder */
input[type="text"],
input[type="text"]:focus {
  outline: none;
  background-color: var(--search);
  display: block;
  color: var(--color);
  width: 100%;
  padding: 0.7rem 0.75rem;
  padding-left: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--search);
  border-radius: 0.375rem;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}
input::-webkit-input-placeholder {
  color: var(--placeholder);
}
input::-moz-placeholder {
  color: var(--placeholder);
}
input:-ms-input-placeholder {
  color: var(--placeholder);
}
input::-ms-input-placeholder {
  color: var(--placeholder);
}
input::placeholder {
  color: var(--placeholder);
}

.form svg {
  position: relative;
  top: 42px;
  margin-left: 10px;
}

.btn {
  position: relative;
  bottom: 75px;
  right: -3px;
  float: right;
  background: #2a68db;
  padding: 0.48rem 1rem;
  color: white;
  border-radius: 7px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--bg-color);
  color: var(--color);
}
/* ------------ */

/* Layout Folder */
.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--search);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  color: var(--layout-text);
  max-width: 700px;
  width: 100%;
  position: relative;
  bottom: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  margin: 30px auto;
  padding: 40px;
}

.lay-img img {
  width: 100px;
  border-radius: 50%;
  margin-right: 40px;
}

.username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user h2 {
  color: var(--layout-h2);
  font-size: 25px;
}
.user h4 a {
  color: #2a68db;
  font-size: 16px;
  text-decoration: none;
}

.bio {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  width: 100%;
}

.follow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin-bottom: 20px;
}
.repo {
  width: 100%;
}
.repo h3 {
  font-weight: 100;
  margin-bottom: 10px;
}
.repo p {
  font-weight: 800;
  font-size: 20px;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  margin: 10px 3px;
  margin-bottom: 15px;
}

.social svg {
  margin-right: 8px;
}

.loading {
  text-align: center;
  border: none;
  margin-top: 40px;
  padding: 90px 0;
  padding-left: 40px;
  font-size: 40px;
  background-color: var(--search);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  border-radius: 8px;
}
.error {
  text-align: center;
  border: none;
  margin-top: 40px;
  padding: 90px 0;
  font-size: 40px;
  background-color: var(--search);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  color: var(--errorCol);
}
/* ----------- */

/*  */
/*  */
/*  */
@media screen and (max-width: 575px) {
  .layout {
    display: block;
    margin-top: 25px;
    bottom: 0;
  }
  .lay-img img {
    width: 80px;
    margin-bottom: 10px;
  }
  .user h2 {
    font-size: 22px;
  }
  .joined {
    margin-top: 3px;
  }
  .username {
    display: block;
  }
  .lay-img {
    float: left;
  }
  .bio {
    clear: both;
  }
  .contact {
    display: block;
  }
  .social {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 400px) {
  .lay-img img {
    margin-right: 15px;
  }
  .user h2 {
    font-size: 20px;
  }
  .follow h3 {
    font-size: 12px;
  }
  .follow p {
    font-size: 17px;
  }
  .repo {
    margin: 0 3px;
  }
}

@media screen and (max-width: 300px) {
  .layout {
    padding: 30px;
  }
  .follow {
    display: block;
    text-align: center;
    padding: 10px;
  }
  .repo {
    margin: 5px auto;
    border-bottom: 1px solid var(--color);
  }
  .repo:last-of-type {
    border: none;
  }
  .repo h3 {
    margin-bottom: 3px;
  }
}
